@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@500&family=Playfair+Display:wght@600&display=swap');

body {
	margin: 0;
	padding: 0;
}

.card{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card .card-left{
	background: #856D4D;
	width: 20rem;
	height:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5rem 5rem 0px 0px;
}

.card .card-left img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 6px solid #ffffff;
}

.card .card-left h1,
.card .card-left h4 {
	color: #ffffff;
	font-family: Playfair Display, sans-serif;
	margin-top: -1px;
	text-align: center;
}

.card .card-left .mesContacts {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.card .card-left .mesContacts h3{
	font-family: Playfair Display, sans-serif;
	text-align: center;
	display: block;
	background: #888888;
	color: #ffffff;
	margin-top: -.2rem;
}

.card .card-left .mesContacts span {
	font-family: Montserrat, sans-serif;
	/*font-size: 18px;*/
	margin-left: 2rem;
	color: #ffffff;
	padding: .1rem
}

.card .card-left .mesContacts span i{
	padding: .4rem;
	color: #01AFCA;
}

.card .card-left .compTech,
.card .card-left .soft-kills,
.card .card-left .lang {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.card .card-left .compTech h3{
	font-family: Playfair Display, sans-serif;
	text-align: center;
	display: block;
	background: #888888;
	color: #ffffff;
}

.card .card-left .soft-kills h3,
.card .card-left .lang h3 {
	font-family: Playfair Display, sans-serif;
	text-align: center;
	display: block;
	background: #888888;
	color: #ffffff;
	margin-top: -.4rem;
}

.card .card-left .compTech ul,
.card .card-left .soft-kills ul,
.card .card-left .lang ul {
	font-family: Montserrat, sans-serif;
	margin-top: -.1rem;
	color: #ffffff;
}

.card .card-left .compTech ul li,
.card .card-left .soft-kills ul li,
.card .card-left .lang ul li {
	padding: .3rem;
}

.card .card-right{
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 100%;
	align-items: center;
	padding: .2rem;
	margin-top: 4rem;
}

.card .card-right .formation{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.card .card-right .formation h3 {
	font-family: Playfair Display, sans-serif;
	text-align: center;
	display: block;
	background: #888888;
	color: #ffffff;
	margin-top: -.4rem;
}

.card .card-right .formation span {
	padding: .2rem;
	font-family: Montserrat, sans-serif;
}

.card .card-right .experience h3 {
	font-family: Playfair Display, sans-serif;
	text-align: center;
	display: block;
	background: #888888;
	color: #ffffff;
}

.card .card-right .experience p{
	color: #01AFCA;
	font-family: Montaga, sans-serif;
}

.card .card-right .experience ul li {
	padding: .1rem;
	font-family: Montserrat, sans-serif;
}

.card .card-right .association h3 {
	font-family: Playfair Display, sans-serif;
	text-align: center;
	display: block;
	background: #888888;
	color: #ffffff;
}

.card .card-right .association ul li{
	padding: .3rem;
	font-family:Montserrat, sans-serif;
}
